---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<h2>Conference Papers</h2>
<ul>
  <li>
    <strong>Symphony: Collective Coordination in Multi-Tenant GPU Clusters</strong><br />
    <u>Manaf Bin-Yahya</u>, Amir Shani, Hossein Shafieirad, Seyed Hossein Mortazavi, Chen Ying, Aaron Wang, Geng Li, Majid Ghaderi.<br />
    In <em>33rd IEEE International Conference on Network Protocols (ICNP 2025)</em>, 2025. IEEE.
  </li>
  <li>
    <strong>HiPIPE: Adaptive-Chunk Pipeline Scheduling for Hierarchical Collective Communication</strong><br />
    Xin Song, <u>Manaf Bin-Yahya</u>, Amir Shani.<br />
    In <em>IEEE/ACM International Symposium on Quality of Service (IWQoS 2025)</em>, 2025. IEEE/ACM.
  </li>
  <li>
    <strong>Config-Snob: Tuning for the Best Configurations of Networking Protocol Stack</strong><br />
    <u>Manaf Bin-Yahya</u>, Yifei Zhao, Hossein Shafieirad, Anthony Ho, Shijun Yin, Fanzhao Wang, Geng Li.<br />
    In <em>USENIX Annual Technical Conference (USENIX ATC 24)</em>, pp. 749–765, 2024. USENIX.
  </li>
  <li>
    <strong>SRRM: Ranking-based route mutation scheme for software-defined WSNs</strong><br />
    <u>Manaf Bin-Yahya</u>, Xuemin Shen.<br />
    In <em>IEEE Global Communications Conference (GLOBECOM 2021)</em>, pp. 01–06, 2021. IEEE.
  </li>
  <li>
    <strong>HTM: Hierarchical trust management for software-defined WSNs</strong><br />
    <u>Manaf Bin-Yahya</u>, Xuemin Shen.<br />
    In <em>IEEE Globecom Workshops (GLOBECOM 2021 Wkshps)</em>, pp. 1–6, 2019. IEEE.
  </li>
  <li>
    <strong>E-AMBULANCE: Real-time integration platform for heterogeneous medical telemetry system</strong><br />
    Basem Almadani, <u>Manaf Bin-Yahya</u>, Elhadi M. Shakshuki.<br />
    In <em>5th International Conference on Current and Future Trends of Information and Communication Technologies in Healthcare (ICTH-2015)</em>, vol. 63, pp. 400–407, 2015. Elsevier.
  </li>
  <li>
    <strong>Identification of image fragments for file carving</strong><br />
    Azzat Al-Sadi, <u>Manaf Bin Yahya</u>, Ahmad Almulhem.<br />
    In <em>World Congress on Internet Security (WorldCIS-2013)</em>, pp. 151–155, 2013. IEEE.
  </li>
</ul>

<h2>Journal Articles</h2>
<ul>
  <li>
    <strong>Secure and energy-efficient network topology obfuscation for software-defined WSNs</strong><br />
    <u>Manaf Bin-Yahya</u>, Xuemin Shen.<br />
    <em>IEEE Internet of Things Journal</em>, vol. 10, no. 3, pp. 2031–2045, 2022. IEEE.
  </li>
  <li>
    <strong>Securing software-defined WSNs communication via trust management</strong><br />
    <u>Manaf Bin-Yahya</u>, Omar Alhussein, Xuemin Shen.<br />
    <em>IEEE Internet of Things Journal</em>, vol. 9, no. 22, pp. 22230–22245, 2021. IEEE.
  </li>
  <li>
    <strong>Ticket-based QoS routing optimization using genetic algorithm for WSN applications in smart grid</strong><br />
    Uthman Baroudi, <u>Manaf Bin-Yahya</u>, Meshaan Alshammari, Umair Yaqoub.<br />
    <em>Journal of Ambient Intelligence and Humanized Computing</em>, vol. 10, no. 4, pp. 1325–1338, 2019. Springer.
  </li>
</ul>
